##**Numpy -**

In [4]:
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# Import the numpy package as np
import numpy as np

# Create 2 numpy arrays from height and weight
np_height = np.array(height)
np_weight = np.array(weight)

print(type(np_height))

<class 'numpy.ndarray'>

In [5]:
bmi = np_weight / np_height ** 2

# Print the result
print(bmi)

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]

In [6]:
weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# Create a numpy array np_weight_kg from weight_kg
np_weight_kg = np.array(weight_kg)

# Create np_weight_lbs from np_weight_kg
np_weight_lbs = np_weight_kg * 2.2

# Print out np_weight_lbs
print(np_weight_lbs)

[179.63  214.544 209.55  204.556 189.596 194.59 ]

##**Pandas -**

In [7]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [8]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [9]:
# Import pandas and cars.csv
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['cars_per_cap'])

# Print out country column as Pandas DataFrame
print(cars[['cars_per_cap']])

# Print out DataFrame with country and drives_right columns
print(cars[['cars_per_cap', 'country']])

NaN    809
NaN    731
NaN    588
NaN     18
NaN    200
NaN     70
NaN     45
Name: cars_per_cap, dtype: int64
     cars_per_cap
NaN           809
NaN           731
NaN           588
NaN            18
NaN           200
NaN            70
NaN            45
     cars_per_cap        country
NaN           809  United States
NaN           731      Australia
NaN           588          Japan
NaN            18          India
NaN           200         Russia
NaN            70        Morocco
NaN            45          Egypt

In [10]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out first 4 observations
print(cars.head(4)) # Use head() to get the first 4 rows
print()
# Print out fifth and sixth observation
print(cars.iloc[4:6])

    Unnamed: 0  cars_per_cap        country  drives_right
NaN         US           809  United States          True
NaN        AUS           731      Australia         False
NaN        JAP           588          Japan         False
NaN         IN            18          India         False

    Unnamed: 0  cars_per_cap  country  drives_right
NaN         RU           200   Russia          True
NaN        MOR            70  Morocco          True

In [11]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0, encoding = 'utf-8')

# Print out observation for Japan
print(cars.iloc[2])

Unnamed: 0        JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: nan, dtype: object